
/*=============== Variables ===============*/
:root {

    /*========== Colors ==========*/
--main-color: #022b3a;
--button-color: #f7f252 ; 
--item-color: #00842a;
--link-color: #0052b2;
--link-visited: #e10000;
--link-active: #00842a;
--link-hover: #72baf5;
--background: #f7f7f7;
--container-bg: #fff;


--text-light: #f3f3f3;
--text-regular: #000;

/*========== Font and typography ==========*/
--font-h1: 2.2rem;
--font-h2: 1.75rem;
--font-h3: 1.5rem;
--font-h4: 1.2rem;
--font-reg: 1rem;
--font-small: .9rem ;
--font-bold: 600;

  /*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

/*========== Dark Mode ==========*/
.lightmode {
    --main-color: #006ba6;

    --button-color: #00a5cf;
    --item-color: #023e7d;

    --link-color: #42a4ff;
    --link-visited: #7d8597;
    --link-active: #cd8a0d;
    --link-hover: #ffbc42;

    --background: #f7f7f7;
    --container-bg: #fff;
    --soft-border: #cccccc;

    --section-color: #a9d6e5;

    --text-light: #f3f3f3;
    --text-regular: #000;

    transition: .2s ease;
}

.darkmode {
    --main-color: #031d44;
    --button-color: #f7f252 ;
    --item-color: #00842a;
    --link-color: #72baf5;
    --link-visited: #e10000;
    --link-active: #000;
    --link-hover: #f7f252;
    --background: #131313;
    --container-bg: #000000;
    --soft-border: #464646;

    --section-color: #1c6b93;
    
    --text-light: #f3f3f3;
    --text-regular: #f3f3f3;
    transition: .1s ease;
        }


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


body{
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    color: var(--text-regular);
    /* Added for Darkmode Toggle tutorial */
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: 0.2s ease;
    cursor: pointer;
}

a:hover {
    color: var(--link-hover);
}

a:active {
    color: var(--link-active);
}

img {
    width: 150px;
    height: auto;
}

ul {
    list-style-type: none;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-top: -25px;
}

.section_title {
    text-align: center;
    margin: auto;
    font-size: var(--font-h1);
    padding: 0.5rem;
    background-color: var(--section-color);
    border-radius: 10px;
    width: 500px;
    margin-top: 25px;
}

.button {
  background-color: var(--button-color);
  border: none;
  border-radius: 10px;
  color: var(--text-light);
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-h4);
  margin: 5px 2px;
  cursor: pointer;
  box-shadow: 0px 3px 5px #414141;
}

.button:hover {
    transition: 0.3s ease;
    background-color: var(--link-hover);
}

.button:active {
    background-color: var(--link-active);
}

.button:visited {
    background-color: var(--link-visited);
}

.section_text {
    margin: 1rem auto 1rem auto;
    width: 70%;
    font-size: var(--font-reg);
}


/*=============== HEADER ===============*/
.header {
    position: sticky;
    top: 0;
    z-index: var(--z-fixed);
    background-color: var(--main-color);
    width: 100%;
    height: 12vh;
    transition: box-shadow .4s, background-color .4s;
}

.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.368);
}
/*==== Nav Main Menu ====*/
.navbar {
    color: var(--text-light);
    padding: 15px 15%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar .nav_logo h1 {
    font-size: var(--font-h3);
}

.navbar .nav_logo .logo_responsive {
    display: none;
}

.navbar ul {
    list-style-type: none;
    gap: 40px;
    display: flex;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    font-size: var(--font-h3);
    color: var(--text-light);
    transition: 0.3s ease;
}

.navbar ul li a:hover {
    color: var(--link-hover);
}

/*==== Nav Actions ====*/

.nav_actions {
    display: flex;
    transition: 0.3s ease;
    justify-content: center;
    cursor: pointer;
}

.nav_actions .actions {
    display: block;
}

.nav_actions ul li a {
    font-size: var(--font-small);
}

.nav_actions ul li i {
    color: var(--button-color);
}

.nav_actions ul li a::before {
    content: '';
}

.nav_actions .actions .action:hover {
    color: var(--link-hover);
}

.nav_actions ul li a:hover::before {
    width: 0%;
}

/*=============== HOME ===============*/

/*==== News Swiper ====*/
.news {
    background-color: var(--container-bg);
}

.swiper {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}


.swiper-slide {
    display: flex;
    gap: 30px;
    background-color: var(--section-color);
    padding: 2rem;
    height: 500px;
    border-radius: 20px;
    width: 400px;
}

.news_img {
    width: auto;
    height: 300px;
    margin: auto;
}

.news_info {
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
}

.news_title {
    font-size: var(--font-h1);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-btn {
    color: var(--button-color);
    font-size: var(--font-h1);
    margin: auto;
    padding: 2px;
    border: 1px solid var(--soft-border);
    background-color: hsla(0, 0%, 100%, 0.362);
}

.swiper-btn:hover {
    color: var(--link-hover);
    transition: 0.3s ease;
}

/*=============== CAT PROFILES ===============*/

.profiles_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    margin: 7rem auto auto auto;
    max-width: 850px;
}

.profile_box {
    width: 250px;
    height: 350px;
    background-color: var(--container-bg);
    outline: 2px solid var(--soft-border);
    display: flex;
    flex-direction: column;
}

.counter-tag {
    position: absolute;
    transform: translate(10px, -15px);
    width: 45px;
    height: 60px;
    background-color: var(--item-color);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.counter-tag p {
    text-align: center;
    font-size: var(--font-small);
    color: var(--text-light)
}

.profile_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cat_name {
    font-size: var(--font-h4);
    font-weight: 600;
    padding-top: 1rem;
}

.cat_nickname {
    font-size: var(--font-small);
    font-style: italic;
}

.cat_img {
    margin: 1rem 0;
}

/*=============== FAQ ===============*/
.faq {
    background-color: var(--container-bg);
}

.faq .section_text {
    margin-top: 5rem;
}

.section_text details {
    margin: auto auto 1rem auto;
}

.faq_q {
    font-size: var(--font-h3);
    margin-bottom: 1rem;
    color: var(--link-color);
}

.faq_q:hover {
    color: var(--link-hover);
    cursor: pointer;
    transition: 0.3s ease;
}

.faq div p {
    font-size: var(--font-h4);
}

/*=============== RESOURCES ===============*/
.resource_list {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.resource_list .resource_links {
    text-align: center;
    margin-top: 3rem;
}

.resource_list .resource_links p {
    font-size: var(--font-h3);
}

.resource_links ul li {
    padding: 0.2rem;
    font-size: var(--text-regular);
}

/*=============== FOOTER ===============*/
.footer {
    width: 100%;
    padding: 2rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7rem;
    color: var(--text-light);
}

.footer .logo {
    font-size: var(--font-h3);
    text-align: center;
    font-weight: 500;
}

.footer_text {
    text-align: center;
    font-size: var(--font-reg);
}

.footer_text p:first-child {
    font-weight: 700;
    font-size: var(--font-h4);
    margin-bottom: 5px;
}

/*=============== BREAKPOINTS ===============*/

/*==== Large Devices (max sizes) 1220px ====*/
@media screen and (max-width: 76em) {
    .swiper_container {
        background-color: hsla(212, 100%, 35%, 0.1);
        border-radius: 20px;
        width: 80vw;
        margin: 20px auto;
        padding: 20px;
}
}

/*==== Smartphones (small devices) ====*/
@media  (max-width ) {
    
}

/*==== Tablets (medium devices) 992px ====*/
@media screen and (max-width: 62em) {
    .navbar {
        color: var(--text-light);
        padding: 15px 5%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.navbar ul {
    gap: 40px;
}
    .navbar .nav_logo h1 {
        display: none;
}

    .navbar .nav_logo .logo_responsive {
        font-size: var(--font-h4);
        display: block;
}

    .navbar ul li a {
        text-decoration: none;
        font-size: var(--font-h3);
        color: var(--text-light);
        transition: 0.3s ease;
}

    .nav_actions ul li a {
        font-size: var(--font-small);
}
}
