
/*=============== Variables ===============*/
:root {

    /*========== Colors ==========*/
--main-color: #0052b2;
--second-color: #5ee5fd ; 
--link-color: #0052b2;
--link-visited: #e10000;
--link-active: ;
--link-hover: #ffee01;
--background: #f7f7f7;
--container-bg: #fff;
--text-light: #f3f3f3;
--text-regular: #000;

/*========== Font and typography ==========*/
--font-h1: 1.75rem;
--font-h2: 1.6rem;
--font-h3: 1.4rem;
--font-h4: 1.2rem;
--font-reg: 1rem;
--font-small: .9rem ;
--font-bold: 600;

  /*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  width: auto;
}

body{
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
    color: var(--text-regular);
}


a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    max-width: 1220px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    width: 100%;
    height: 150px;
    background-color: var(--main-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    justify-content: space-between;
}

/*==== Nav Actions & Logo ====*/
.nav_actions {
    position: fixed;
    top: 2rem;
    right: 3rem;
}

.nav_actions .action {
    padding: 0 8px;
}

.nav_actions .action span {
    color: var(--text-light);
    font-size: var(--font-reg);
}

.nav_actions .action i {
    color: var(--second-color);
    font-size: var(--font-h3);
}

.nav_logo {
    position: fixed;
    top: 3rem;
    left: 4rem;
    color: var(--text-light);
    font-size: var(--font-h3);
}


/*==== Main Menu ====*/
.navbar {
    display: flex;
}

.nav_item {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}